[Unit]
Description=Catalogue Service
After=network.target

[Service]
Type=simple
User=roboshop
WorkingDirectory=/app
Environment="MONGO=true"
Environment="MONGO_URL=mongodb://mongodb.awslearning.fun:27017/catalogue"
ExecStart=/usr/bin/node /app/server.js
SyslogIdentifier=catalogue
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target